<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FormUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <add key="TimeOut" value="100"/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <add key="ConnectionString" value="Data Source = SerialPort.db;Version=3"/>
    
  </appSettings>

  <userSettings>
    
    <FormUI.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value/>
      </setting>
      <setting name="Password" serializeAs="String">
        <value/>
      </setting>
      <setting name="Remenber" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value/>
      </setting>
      <setting name="DataBits" serializeAs="String">
        <value/>
      </setting>
      <setting name="Parity" serializeAs="String">
        <value/>
      </setting>
      <setting name="StopBit" serializeAs="String">
        <value/>
      </setting>
      <setting name="PortName" serializeAs="String">
        <value/>
      </setting>
      <setting name="MeetingPhone" serializeAs="String">
        <value/>
      </setting>
      <setting name="picPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="Xiehong" serializeAs="String">
        <value/>
      </setting>
      <setting name="Paizha" serializeAs="String">
        <value/>
      </setting>
      <setting name="Fadian" serializeAs="String">
        <value/>
      </setting>
      <setting name="Ceshi" serializeAs="String">
        <value/>
      </setting>
      <setting name="cmbHourR" serializeAs="String">
        <value>cmbHour</value>
      </setting>
      <setting name="cmbMinuteR" serializeAs="String">
        <value>cmbMinute</value>
      </setting>
      <setting name="cmbMusicR" serializeAs="String">
        <value>cmbMusic</value>
      </setting>
      <setting name="cmbStyleR" serializeAs="String">
        <value>cmbStyle</value>
      </setting>
      <setting name="StartUp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dHH" serializeAs="String">
        <value/>
      </setting>
      <setting name="dmm" serializeAs="String">
        <value/>
      </setting>
      <setting name="dss" serializeAs="String">
        <value/>
      </setting>
      <setting name="sHH" serializeAs="String">
        <value>00</value>
      </setting>
      <setting name="smm" serializeAs="String">
        <value>00</value>
      </setting>
      <setting name="sss" serializeAs="String">
        <value>00</value>
      </setting>
      <setting name="GroupName" serializeAs="String">
        <value>组1</value>
      </setting>
      <setting name="Hh" serializeAs="String">
        <value/>
      </setting>
      <setting name="Mm" serializeAs="String">
        <value/>
      </setting>
      <setting name="RDS" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Battery" serializeAs="String">
        <value>34</value>
      </setting>
    </FormUI.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
